<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--<link rel="stylesheet" type="text/css" href="../static/css/style_index.css">-->
	<link th:href="@{/css/style_index.css}" rel="stylesheet">


	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>

<title>主页</title>
</head>
<body>
	<div class="wrap">
		<div class="container">
			<table class="table">
				<tr>
					<td>
						<div class="funcation_icon">
<!--							<a href=""><img th:src="@{/images/meeting.png}"/></a>-->
							<a href="/applicationmeeting"><img src="images/meeting.png" /></a>
<!--							<img src="../static/images/meeting.png" />-->

						</div>
						<div class="funcation_name">申请会议</div>
					</td>
					<td>
						<div class="funcation_icon">
<!--							<img src="../static/images/manage_vip.png" />-->
							<a href="/contribute"><img th:src="@{/images/manage_vip.png}"/></a>

						</div>
						<div class="funcation_name">投稿</div>
					</td>
					<td>
						<div class="funcation_icon">
<!--							<img src="../static/images/manage_book.png" />-->
							<a href=""><img th:src="@{/images/manage_book.png}"/></a>

						</div>
						<div class="funcation_name">审稿</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="funcation_icon">
<!--							<a href="bestSeller.action"><img src="../static/images/bestsale_book.png"/></a>-->
							<a href=""><img th:src="@{/images/bestsale_book.png}"/></a>
						</div>
						<div class="funcation_name">邀请审稿人</div>
					</td>
					<td>
						<div class="funcation_icon">
<!--							<a href="saleStatistics.action"><img src="../static/images/sale_statistic.png" /></a>-->
							<a href=""><img th:src="@{/images/sale_statistic.png}"/></a>
						</div>
						<div class="funcation_name">我的消息</div>
					</td>
					<td>
						<div class="funcation_icon">
<!--							<img src="../static/images/out.png" />-->
							<a href=""><img th:src="@{/images/out.png}"/></a>
						</div>
						<div class="funcation_name">注销</div>
					</td>
				</tr>
			</table>
		</div>

		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

	</div>

</body>
</html>